<!-- frontend/src/app/farmer-login/farmer-login.component.html -->
<div class="container">
    <h1 class="text-center">Farmer Login</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Enter your phone number">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
    
    <div class="mt-20 text-center">
        <p>New Farmer? <a routerLink="/farmer/register">Register Here</a></p>
    </div>
    
    <div *ngIf="message" class="alert" [ngClass]="{'alert-danger': isError, 'alert-success': !isError}">
        {{message}}
    </div>
</div>